@{
    ViewBag.Title = "Home Page";
}

<div id="app" class="">
    <div class="">
        <h1>Hello World from Home25</h1>
    </div>
</div>

@section scripts {
    <script src="~/dist/js/home/index.js" asp-append-version="true"></script>

    <script type="text/javascript">

        function domReady() {
            const _urls = {
            };
            // window.fb must be created and initialized in the corresponding index.js file
            window.fb.initializePage(_urls);
        }

        if (document.readyState === "complete" || document.readyState !== "loading" && !document.documentElement.doScroll) {
            domReady();
        } else {
            document.addEventListener("DOMContentLoaded", domReady);
        }

    </script>
}